
.brand h1 {
	float: left;
	margin-left: 36px;
	margin-top: -51px;
	text-decoration: none;
}

.brand h2 {
	float: left;
	margin-left: 38px;
	margin-top: -17px;
}

.brand img {
	width: 42px;
	height: 42px;
	margin-left: -10px;
	margin-top: -10px;
}

@media (min-width: 768px) and (max-width: 1200px) {
	.navbar .nav li a {
		padding: 9px !important;
	}
}

@media (min-width: 360px) and (max-width: 400px) {
	.navbar .nav li a {
		padding: 7px !important;
	}
}

@media (min-width: 260px) and (max-width: 300px) {
	.navbar .nav li a {
		padding: 3px !important;
	}
}

@media (min-width: 260px) and (max-width: 978px) {
	#holder > .container-fluid {
		padding-top: 0px;
		padding-bottom: 4px;
	}
}

.ui-btn:hover {
	background-color: rgba(255,255,255,.3) !important;
}

.sub-tabs-apply {
	color: #fff !important;
	border: 1px solid #ff0000 !important;
}


body table[id*='itemtabl'] tr > * {
	display: block;
	padding: 0;
	margin: 0;
}

body table[id*='itemtabl'] tbody {
display: block;
width: 100%;
}

body table[id*='itemtabl'] {
display: block;
width: 100%;
}

/* dashboard tr */
body .span3 table[id*='itemtabl'] tr {
	position:relative;
	display: block;
	width: 98%;
	min-height: 8em;
	/* padding: 5px 5px 5px 5px; */
	/* margin: 2px 100% 5px 0; */
	padding: 0px 5px 0px 0px;
    margin: 2px 0px 0px 2%;
	border-style: none;
	border-radius: 0px;
	color:var(--FontColor);
	font-family: Arial, Helvetica, sans-serif;
}

/* other view tr*/
/* everything important because style.css overwrite everything in the utiliy :-( */
body .span4 table[id*='itemtabl'] tr {
	position:relative!important;
	display: block!important;
	width: 98%!important;
	min-height: 8em!important;
	padding: 0px 5px 0px 0px;
    margin: 2px 0px 0px 2%;
	border-style: none!important;
	border-radius: 0px!important;
	/* color:var(--BlockTitleColor)!important; */
	background-color:unset!important;
	font-family: Arial, Helvetica, sans-serif!important;
}

/* more height cause #type */
body #lightcontent .span4 table[id*='itemtabl'] tr {
	height:10em;
}

/* more height cause barometer */
body #tempwidgets .span4 table[id*='itemtabl'] tr {
	height:9em;
}

/* more height cause barometer */
body #weatherwidgets .span4 table[id*='itemtabl'] tr {
	height:11em;
}

/* more height cause text device */
body #utilitycontent .span4 table[id*='itemtabl'] tr {
	height:9em;
}



body table[id*='itemtabl'] #name {
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	white-space: nowrap;
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	/*border-style: solid;*/
	border-radius: 0px;
	color:var(--ColorFontName);
	/* background-color: #D4E1EE; */
}

body table[id*='itemtabl'] #bigtext {
	float: right;
	margin: -22px 3px 0px 0px;
	font-size: 110%;
	font-weight: bold;
	white-space: nowrap;
	color:var(--ColorFontBigtext);
	}
	
body .span3 table[id*='itemtabl'] #bigtext {
	margin: -5px 3px 0px 0px;
}

/* img sometime img img1 */
/* body table[id*='itemtabl'] tr td:first-child + td + td { */
body table[id*='itemtabl'] #img1 ,body table[id*='itemtabl'] #img2, body table[id*='itemtabl'] #img3 ,body table[id*='itemtabl'] #img {
	display: block;
	border-color: #2B5074;
	border-style: none;
	border-width: 1px;
	float: left;
	margin: 0 10px 10px 0;
}

#img img, #img1 img,#img2 img,#img3 img{
	width:var(--MyIconeSize);
	height:var(--MyIconeSize);
}


/* lastupdate @bottom */
body table[id*='itemtabl'] #lastupdate {
    font-size: 80%;
    width: 98%;
    position: absolute;
    bottom: 1px;
    text-align: center;
	color:var(--ColorFontLastUpdate);
}

/* hide last seen txt*/
body table[id*='itemtabl'] #lastupdate:before {
    content: "";
}

body table[id*='itemtabl'] #status {
	min-height: 1.1em;
	margin-top:0.4em;
    font-size: 80%;
	margin-left: calc( var(--MyIconeSize) + 10px)!important; /* MyIconeSize + 10 */
	color:var(--ColorFontStatus);
}

#dashcontent #status{
	margin-top:1.5em;
	white-space: wrap; 
}
#lightcontent #status, #scenecontent #status{
	display:none;
}
#tempwidgets #status{
	min-height:5em;
}
#weatherwidgets #status{
	min-height:8em;
}

#utilitycontent{
	
}

#lightcontent #type{
	color:var(--ColorFontType);
}

body table[id*='itemtabl'] .input {
	min-height: 1.1em;
    font-size: 1em;
	/* background-color:green; */
}

body table[id*='itemtabl'] #type {
	min-height:0;
	height:0;
	font-stretch: condensed;
	color:lightslategray;
	/* visibility:hidden; */
}
		@media (max-width: 400px) {
			/* Do not sow type text if there is selector for mobile cannot show everything*/
			.span4 tr:has(#name ~ #type .selectorlevels) #type{
				
				visibility:hidden;
				height:0px;
			}
		}


/* slider and selector */
/* #type dans switches tab and .input in the dashboard */

		/* A: Slider */
		/* First : dashboard and switch tab */
		body table[id*='itemtabl'] #type #slider, body table[id*='itemtabl'] .input #slider {
			position:absolute;
			bottom: 0;
			margin-bottom: 2.5em!important;
			visibility: visible;
			/* MyIconeSize + 10 */
			/* margin-left: calc( var(--MyIconeSize) + 10px)!important;  */
			/* width: calc(100% - var(--MyIconeSize) - 50px)!important; */
			margin-left: 2%!important;
			width: 90%!important;
			font-size: 1em;
		}
		/* Second : switch tab */
		body table[id*='itemtabl'] #type #slider{
			margin-bottom: 4.2em!important;
		}
		
		/* START case of three icons like store SO SWITCH only :-)    */
			
			/* First dashboard */
					body table[id*='itemtabl'] tr:has(#name ~ .input .dimslidersmalltripple) .input .dimslidersmalltripple {
						position:absolute;
						bottom: 0;
						margin-bottom: 2em;
						margin-left: 2%!important;
						width: 90%!important;
					}
					
			/* Second  switch tab */
					/* recalculate type width of type due to 3 icons */
					body table[id*='itemtabl'] tr:has(#name ~ #type .dimslider.dimsmall3) #type {
						margin-left: calc( 3 x var(--MyIconeSize) + 30px)!important;
						width: calc(100% - 3 x var(--MyIconeSize) + 30px - 50px)!important;						
					}
			
					body table[id*='itemtabl'] tr:has(#name ~ #type .dimslider.dimsmall3) #type .dimslider.dimsmall3 {
						position:absolute;
						bottom: 0;
						margin-bottom: 4em;
						margin-left: 4%!important;
						width: 92%!important;
					}
		
		/* END case of three icons like store */		
	
		body table[id*='itemtabl'] #type .selectorlevels, body table[id*='itemtabl'] .input .selectorlevels {
			position:absolute;
			bottom: 0;
			margin-bottom: 3em;
			visibility: visible;
			margin-left: calc( var(--MyIconeSize) + 10px)!important; /* MyIconeSize + 10 */
			width: calc(100% - var(--MyIconeSize) - 50px)!important;
			font-size: 1em;

		}
		body table[id*='itemtabl'] #type .selectorlevels{
			margin-bottom: 4em;
		}

		@media (max-width: 400px) {
			body table[id*='itemtabl'] #type .selectorlevels{margin-top: -2em!important;}
		}
				.selectorlevels .ui-selectmenu-button.ui-widget {
					background-image: linear-gradient(to bottom right, var(--ColorSelectorTopLeft), var(--ColorSelectorBottomRight)) !important;
					width:100%!important;
					font-size: 1em!important;
				}
				
body table[id*='itemtabl'] thead {
	display: none;
}

body table[id*='itemtabl'] .options {
	font-size: 90%;
	clear: both;
	padding: 0 0% 0 5%!important;
	/* line-height: 230%; */
	width:96%;
	position: absolute;
    bottom: 0em;
	margin-bottom: 0.2em!important;
}


div.item.statusTimeout td#name{
    background-color:#DF2D3A;
}
div.item.statusLowBattery td#name{
    background-color:#DDDF2D;
}
div.item.statusDisabled td#name{
    background-color:#A6A8AA;
}
div.item.statusDisabled{
   	opacity: 0.5;
}
div.item.statusEvoSetPointOff td#name{
    background-color:#9b9b9b;
}
div.item.statusEvoSetPoint25 td#name{
    background-color:#ff0302;
}
div.item.statusEvoSetPoint22 td#name{
    background-color:#ff6a2a;
}
div.item.statusEvoSetPoint19 td#name{
    background-color:#fe9b2d;
}
div.item.statusEvoSetPoint16 td#name{
    background-color:#79bc5c;
}
div.item.statusEvoSetPointMin td#name{
    background-color:#6ca5fd;
}



.selectorlevels .ui-button-text-only .ui-button-text {
	padding: .3em 0.7em;
}



.zwave_label {
	font-style: normal;
	font-weight: bold;
	color: #fff;
}
.zwave_no_info {
	font-style: italic;
	color: #ff5050;
}
.zwave_help {
	font-style: normal;
	color: #bbd;
}
.zwave_help div {
	padding-left: 2em;
}
.zwave_last_update {
	font-style: italic;
	font-size: smaller;
	color: #e0c0ff;
}
#highcharts-menu #hr {
	margin: 120px 0;
}
#highcharts-menu-item {
	padding: 100px 100px;
}

/* Do not show big text if there is selector */
#dashcontent .span3 tr:has(#name ~ .input .selectorlevels) #bigtext,#lightcontent .span4 tr:has(#name ~ #type .selectorlevels) #bigtext{
	/* visibility:hidden!important; */
	visibility:hidden;
	height:0px;
	background:blue;
}

/* Do not display dew point on dahboard */
#dashcontent #dashTemperature .span3 .status{
	display:none;
	visibility:hidden!important;
}



.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: auto!important;
}


